.leftholder {
  border: 1px solid #949494;
  float: left;
  position: relative;
  width: 49%;
}
.rightholder {
  border: 1px solid #949494;
  float: left;
  margin-left: 3px;
  position: relative;
  width: 49%;
}
