body{
    background: url("../images/gradien1.png") repeat-x scroll 0 0 #000
}
#container_intro {
  background: url("../images/gradien1.png") repeat-x scroll 0 0 #000;
  clear: left;
  height: 640px;
  margin: 0 auto;
  position: relative;
  text-align: left;
  z-index: 5;
}

#container_intro .center {
  margin: 0 auto;
  padding: 11px 150px 0 0;
  width: 340px;
}

.intro_left {
  color: #fff;
  left: 10px;
  position: absolute;
  top: 145px;
  width: 200px;
}

.hw {
  color: #fff;
  font-weight: bold;
}
.intro_left_text {
  width: 100px;
}

.intro_right {
  float: right;
  margin: 15px 0 0;
  position: absolute;
  right: 0;
  top: -5px;
  width: 300px;
}

.intro_thumb {
  color: #888;
  cursor: pointer;
  float: left;
  margin: 0 10px 10px;
}

.intro_right .link {
  float: right;
  margin: 0 20px 0 0;
}
h1 {
  color: #c2e20d;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 15px 10px;
  text-transform: uppercase;
}

.largetext {
  color: #fff;
  font-size: 13px;
  margin: 0 35px 0 10px;
}

#wrapper{
    width: 100%;
}

#content{
    width: 100%;
}
.intro_bottom {
  bottom: 0;
  clear: both;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 6;
}
.table_basic {
  border-collapse: collapse;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 100%;
}
.table_basic tr .firstcol {
  color: #958b86;
  font-size: 12px;
  text-align: left;
  width: 10%;
}
.table_basic tr th {
  background: none repeat scroll 0 0 #1c1a18;
  font-size: 15px;
  width: 18%;
}
.table_basic tr th, .table_basic tr td {
  background: none repeat scroll 0 0 #000;
  border: 1px solid #514c48;
  height: 25px;
  padding: 2px 10px;
  text-align: center;
}
.table_basic a {
  color: #fff;
  text-decoration: underline;
}

.table_basic tr th {
  background: none repeat scroll 0 0 #1c1a18;
  font-size: 15px;
  width: 18%;
}
.login {
  border-left: 1px solid #222;
  color: #888;
  float: right;
  font-size: 11px;
  font-weight: bold;
  height: 75px;
  padding: 5px 6px 0 11px;
  width: 272px;
}
.login .loginrow {
  clear: both;
  float: left;
  margin: 1px 0 4px;
  padding: 0 5px 0 0;
  text-align: left;
  width: 75px;
}
.login input {
  margin: 0 0 5px;
  width: 170px;
}