div#content2, div#sidenavi2 {
  overflow: hidden;
  position: relative;
}

.divbar {
  background-image: url("../images/graybar.gif");
  color: #ddd;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  height: 19px;
  left: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  top: 0;
}

#flashimagescaler {
  bottom: 0;
  height: 100%;
  left: 0;
  position: relative;
  width: 100%;
  z-index: 0;
}

.divbarbottom {
  background-image: url("../images/graybar.gif");
  bottom: 0;
  color: #ddd;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  height: 19px;
  left: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

td#sidenavi {
  width: 289px;
}

#wrapper{
    width: 100%;
}

.addbt, .addbt:link, .addbt:visited {
  background: url("../images/addnotransp.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  float: left;
  height: 19px;
  width: 50px;
}

.sortbt, .sortbt:link, .sortbt:visited {
  background: url("../images/sortnotransp.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  float: left;
  height: 19px;
  width: 54px;
}

.divcontent {
  border-left: 1px solid #222;
  position: relative;
  width: 289px;
}

div#scrollbar2, div#track2, div#dragBar2, div#up2, div#down2 {
  -moz-user-select: none;
}

#image_view, #image_listing{
    width: 78%; float: left;
}

#album_thumbnails, #album_commenting{
    width: 21.9%; float: left; border-left: 1px solid #222;
}

.topheight{
    height: 370px;
}

.bottomheight{
    height: 200px;
}

.addbt:hover, .addbt:focus {
  background: url("../images/addovernotransp.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.sortbt:hover, .sortbt:focus {
  background: url("../images/sortovernotransp.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}