* {margin:0; padding:0;}
body, html {overflow: hidden; height:100%;}
body {background:#000; color:#444; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
a:link, a:visited {text-decoration:none; color:#888;}
a:hover, a:focus {text-decoration:none; color:#DDD;}

input {background:#333; border:none; color:#CCC;}
textarea {background:#333; border:none; color:#CCC; padding:0 0 0 2px;}

html, body, div, span, ul, img, h1, h2, h3, h4, h5{margin:0; padding:0; border:0;}
html{min-height:100.5%;}
ul{list-style:none;}
.invisible{display:none;}
.clear{clear:both;}
.floatright{float:right;}
.floatleft{float:left;}
.header{height:75px; background:#000 url("../images/head_l.jpg") no-repeat 0 0; border-bottom:#222 1px solid; width:100%;position:absolute; top:0; left:0; z-index:5;}
.login{font-weight:bold; color:#888; font-size:11px; float:right; border-left:#222 1px solid; padding:5px 6px 0px 11px; width:272px;height:75px;}
.login input{width:170px; margin:0px 0 5px 0;}
.logininfo{float:right; color:#fff; margin:10px;}

#distance_intro {background-color:#000; float:left; height:50%; margin-bottom:-320px; width:1px;}
#containerDiv {background:#000 url("../images/gradien1.png") repeat-x 0 0; clear:left; height:640px; margin:0 auto; position:relative; text-align:left; z-index:5;}
#containerDiv .center {margin:0 auto; padding:8px 150px 0 0; width:340px; margin-top: 78px;}

#intro_body{position:relative; background:url("../images/gradien1.png") repeat-x 0 0; color:#D7C9C1; font-size:11px; height:1000px;}
.left_container {position:absolute; left:10px; top: 145px; width: 200px; color:#fff;}
.left_container_text {width:100px;}
.left_container img{margin:-6px 0 15px;}
.intro_center{position:absolute; left:42%; margin:11px 0 0 -203px;}
.intro_center .heading_col{margin:0 0 0 8px;}
.right_container{position:absolute; right:0px; top: -5px; width: 300px; float:right; margin:15px 0 0 0;}
.home_thumb_img{float:left; margin:0 10px 10px 10px; cursor:pointer; color:#888}
.right_container .link{float:right; margin:0 20px 0 0;}
.bottom_div{clear:both; position:absolute; bottom:0; left:0; width:100%; z-index:6;}
#ordiv{float: left !important; width: 32px !important; margin-top: 4px !important;}
.heading_col{font-weight:bold; color:#C2E20D;}
.heading_white{font-weight:bold; color:#fff;}
.heading_gray{font-weight:bold; color:#888;}
h1{font-weight:normal; color:#C2E20D; font-size:18px; text-transform:uppercase; margin:0 0 15px 10px;}
.largetext{font-size:13px; color:#fff; margin:0 35px 0 10px;}
.signin_button{width: 72px !important;}
.bottom_table{border-collapse:collapse; margin:0; padding:0; width:100%; font-size:12px; font-weight:bold; color:#fff;}
.bottom_table tr .tableheading{text-align:left; color:#958B86; font-size:12px; width:10%}
.bottom_table tr th, .bottom_table tr td{background:#000; border:#514C48 1px solid; height:25px; text-align:center; padding:2px 10px;}
.bottom_table tr th{background:#1C1A18; font-size:15px; width:18%;}
.bottom_table a{text-decoration:underline !important; color:#fff !important;}
* { box-sizing: content-box !important;}
.login_signup_div{margin-left: 96px !important; width: 175px !important;}
.signup_button{float: left !important; width: 66px !important; margin-left: -10px !important;}
.login div{float:left; margin:1px 0 4px 0; padding:0 5px 0 0; width:90px; text-align:right;}
.button {  background: none repeat scroll 0 0 #555;  border-radius: 2px;  color: #222;  float: right;  font-size: 11px;  margin-left: 8px;  margin-top: 1px;  padding: 3px 8px;  text-decoration: none;}
#introheading{margin-left: 5px;}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #333 inset;
    -webkit-text-fill-color: #ccc;
}

/* overlay form div style */
.popup{ display:none; border: 1px solid white; background-color:#666; z-index: 50; color: #ffffff !important}
.popup_head { background: url("../images/popup_head.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0); height: 47px;}
.popup_top { background: url("../images/popup_gradien.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0); border-top: 1px solid #e3e2dc; padding: 5px 60px 5px 5px;}
.popup_forms {  background: none repeat scroll 0 0 #666;  border-top: 1px solid #949494;  font-size: 12px;  padding: 25px 15px 25px 300px;  text-align: left;}
.popup_bottom { background: none repeat scroll 0 0 #2e2e2e; border-top: 1px solid #a3a3a3; padding: 8px 15px 8px 300px;}
.popup_head span { color: #fff; float: right; font-size: 14px; font-weight: bold; margin: 13px 25px 0 0; text-decoration: none; text-transform: uppercase;}
.popup_top img { border: 1px solid #4d4d4d; float: left; padding: 2px;}
.popup_top table {border-collapse: collapse; float: left; width: 290px;}
.popup_top td.leftcolumn { border: 1px solid #4d4d4d; padding: 3px 0 3px 5px;}
.popup_top td.rightcolumn { border: 1px solid #4d4d4d; padding: 3px; text-align: center; text-transform: uppercase}
a.but_red {color: #ef0808 !important;  font-size: 11px; font-weight: bold; padding: 0 8px; text-decoration: none; text-transform: uppercase;}
a.but_green { color: #b1d400 !important; font-size: 11px; font-weight: bold; padding: 0 8px; text-decoration: none; text-transform: uppercase;}
a:link, a:visited { color: #888; text-decoration: none;}
.popup input{background:#ffffff; color: #000;}
.popup_top .run {font-size: 12px; line-height: 25px; margin: 0 0 0 305px; text-align: left;}
.popup_forms input.smallinput {background: none repeat scroll 0 0 #fff;  border: 0 none;  color: #000; height: 17px; margin: 4px 8px 12px 0; width: 150px;}
.popup_forms input { background: none repeat scroll 0 0 #fff; border: 0 none; color: #000; height: 17px; margin: 4px 0 12px; padding: 2px 0 0; width: 308px;}
.popup_forms input.checkbox { height: 14px; margin: 4px 8px 12px 2px; width: 14px;}
.popup_head a { color: #fff; float: right; font-size: 14px; font-weight: bold; margin: 13px 25px 0 0; text-decoration: none; text-transform: uppercase;}
.popup_head a.off, .popup_head a.off:link, .popup_head a.off:visited { color: #666;}
.popup_head a.off:hover, .popup_head a.off:focus {color: #fff;}
.intro_left_text {width: 100px;}
#cover {background: none repeat scroll 0 0 #000; display: none; height: 100%; left: 0; opacity: 0.7; position: absolute; top: 0; width: 100%; z-index: 10;}