
.invisible{display:none;}
.clear{clear:both; font-size:0;	line-height:0px;}
.floatclear{clear:both;}
.floatright{float:right;}
.floatleft{float:left;}
.nooverflow{overflow:hidden;white-space:nowrap;}

.divbar {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#DDD; padding: 0px; height:19px; background-image:url("../images/graybar.gif"); overflow:hidden; position: relative; top:0px; left:0px;}
/*div forms*/
#cover {display:none; opacity:.70;filter: alpha(opacity=70); -moz-opacity:0.7; background:#000; height:2000px; left:0px; position:absolute; top:0px; width:2000px; z-index:10;}
#formdiv {display:none; background:#000; left:0; padding:0; position:absolute; top:0; width:640px; z-index:20;}
.infotextarea {font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:5px 0 5px 0;}
td.formerrormsg {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#EF0808}


/*sidenavi*/

.sidenavi {background:#222; color:#000; margin:0; padding:0 0px 0 0; }

.divcontent {position:relative; border-left: 1px solid #222; width:289px;}
.albumcontainer1 {width:100%; height:98px; position:relative;}
.albumcontainer1ruled {background-color:#252525; width:277px; height:98px; position:relative; border-bottom: 1px solid #222;}
.albumcontainer1on {background-color:#151515; width:277px; height:98px; position:relative; border-bottom: 1px solid #222;}
.albumcontainer1onruled {background-color:#252525; width:277px; height:98px; position:relative; border-bottom: 1px solid #222;}
.albumcontainer2 {width:100%; height:98px; position:relative; }
.albumcontainer2ruled {background-color:#111; width:100%; height:98px; position:relative; border-bottom: 1px solid #222;}
.albumcontainer2on {background-color:#000; width:277px; height:98px; position:relative; border-bottom: 1px solid #222;}
.albumcontainer2onruled {background-color:#111; width:277px; height:98px; position:relative; border-bottom: 1px solid #222;}
.ac1 {width:122px; position:absolute; left:146px; top:0px;}
.ac1num {color:#666; font-size:18px; padding:0 2px 2px 4px;}
.ac1name {color:#FFF; font-weight:bold; padding:0 4px 0 4px; margin:0 0 5px 0; height:14px; } /* overflow:hidden; */
.ac1version {font-weight:bold; color:#fff; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.ac1version a.linkoff {padding:0 5px 0 3px; }
.ac1version a.linkon {color:#FFF;padding:0 5px 0 3px; }
.ac2 {width:55px; position:absolute; left:102px; top:0px; font-size:14px; color:#333; font-weight:bold; line-height:19px; padding:3px 3px 3px 0px;}
.ac3 {width:100px; position:absolute; left:0px; top:0px; }
a.linkoff {}
a.linkon {color:#FFF;}

/*comments*/

td.commenttitle {font-size:10px; color:#FFF;} 
td.commentnormal {border-top-width:1px; border-top-style:solid; border-top-color:#222;}
.commentmessage {color:#999; font-size:10px;}
.commentnames {font-size:10px; color:#337ab7;} 


#flashimagescaler {position: relative; bottom: 0px; left: 0px; height: 100%; width:  100%; z-index:0;}
#flashvideoplayer {position: relative; bottom: -1px; left: 0px;	height: 100%; width:  100%;}
#flashvideoplayer2 {position: relative; bottom: -1px; left: 0px;	height: 100%; width:  100%;}


 /* my css */
div#top_header {background-color: #000; background-image: url("../images/header_bg.png"); background-repeat: no-repeat; height: 33px; overflow: hidden; position: relative; white-space: nowrap;}
  #top_header div:first-child { width: 78%;}

  #wrapper {
    /*height: 100%;*/
    margin: 0 auto;
    width: 100%;
  }

  #image_content, #images, #videos { clear: left; float: left; margin: 0 auto; position: relative; text-align: left; width: calc(100% - 407px);}

  #image_content{position: absolute; bottom: 191px; top:33px;}

  #rightcontent {float: right; height: 100%; width: 317px;}
  .imagecontainer {float: left; margin-top: 1px; width: 113px; }
  .divbarbottom {background-image: url("../images/graybar.gif");  bottom: 0; color: #ddd; font-family: Arial,Helvetica,sans-serif; font-size: 12px;height: 19px; left: 0; overflow: hidden; padding: 0; position: absolute; width: 100%; }
  #album_bottom{ position: absolute; left: auto; top: auto; bottom: 191px; width: 295px; }
  #right_comments {border-left: 1px solid;  float: left;  height: 100%;  overflow: hidden;  padding-left: 2px;  width: 318px;}
  .commenttitle {color: #fff;  font-size: 10px;}
  .commentnormal {border-bottom: 1px solid #e9e9e9; margin-left: 2px;}
  .topform {background-color: #000;  border-left: 1px solid #222;  color: #fff;  height: 33px;  position: absolute;  right: 0;  top: 0;  white-space: nowrap;  width: 287px;}
  .top_id_input {height: 19px;  margin: 7px 0 0;  padding: 0 0 0 2px;  width: 160px;}
.imagecontaineron {border-left: 1px solid #666; width:160px; height:177px; float: left;}
.addbt,.addbt:link,.addbt:visited{background:url("../images/addnotransp.gif") no-repeat 0 0; width:50px; height:19px; display:block; float:left;}
.addbt:hover,.addbt:focus{background:url("../images/addovernotransp.gif") no-repeat 0 0;}
.editbt, .editbt:link, .editbt:visited{background:url("../images/editnotransp.gif") no-repeat 0 0; width:52px; height:19px; display:block; float:left;}
.editbt:hover, .editbt:focus{background:url("../images/editovernotransp.gif") no-repeat 0 0;}
.sortbt, .sortbt:link, .sortbt:visited{background:url("../images/sortnotransp.gif") no-repeat 0 0; width:54px; height:19px; display:block; float:left;}
.sortbt:hover, .sortbt:focus{background:url("../images/sortovernotransp.gif") no-repeat 0 0;}
#bottomDiv{height:192px; position: fixed; bottom: 0; border: 1px solid; width: 100%; border-left: none}
.controls {background-color: #444444; padding: 5px; width: 308px;}
#queue-status { background-color: #444444; padding: 5px; width: 308px;}
#spanButtonPlaceHolderwrapper { background-color: #2e2e2e;width: 150px;}
.popup_forms input.controlbuttons {background: none repeat scroll 0 0 #2e2e2e; color: #fff; margin: 0 2px 0 0;}
/* upload */
#fsUploadProgress {background: #444444; margin-top: 5px; width:308px; padding:5px;}
#fsUploadProgress h3 {margin: 0; margin-top: 5px;}
.progressContainer {padding-left: 30px;background: url("../images/document-new.png") no-repeat;margin: 8px 0; overflow:hidden;}
.progressName {margin-bottom: 3px;}
.progressBarStatus {font-style: italic;	font-size: 12px;}
.progressBarInProgress {height: 4px;background: green;border: 1px solid #ffffff;width: 0;}
.progressCancel {background-image:url("../images/emblem-unreadable.png"); background-repeat:no-repeat;display:block;float:right;font-size:0;height:16px;width:16px;}
#queue-status {background-color: #444444;padding: 5px; width:308px;}
.controls {background-color: #444444;padding: 5px; width:308px;}
.popup_forms input.controlbuttons {width:144px; height:21px; padding: 2px 0 3px 0; margin: 0 2px 0 0px; background:#2e2e2e; color:#fff;}
#spanButtonPlaceHolderwrapper {background-color: #2e2e2e;width:150px;}
.imagecontaineron div:hover a{ color: #fff !important;}
.popup_top_project {background: url("../images/popup_gradien.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0); border-top: 1px solid #e3e2dc; padding: 7px 60px 7px 7px;}
.mCSB_horizontal.mCustomScrollBox > .mCSB_scrollTools{bottom:17px !important;}
#fsUploadProgress h3 {font-size: 14px; font-weight: bold;}
.popup_forms textarea {background: none repeat scroll 0 0 #fff; color: #000; font-family: Arial,Helvetica,sans-serif; font-size: 12px; width: 306px;}
/*topnav*/
.topnav {position:absolute; top:10px; left:230px;white-space:nowrap;}
.topnav a, .topnav span{text-transform:uppercase; font-size:12px;}
.topnav a, .topnav a:link, .topnav a:visited{color:#999; text-decoration:none; margin:0 33px 0 0;}
.topnav a:hover, .topnav a:focus{color:#fff; text-decoration:none; margin:0 33px 0 0;}
.topnav a.on, .topnav a.on:link, .topnav a.on:visited, .topnav a.on:hover, .topnav a.on:focus{color:#fff; text-decoration:none; margin:0 33px 0 0;}
.topnav .dis{color:#444; margin:0 33px 0 0;}
#outerCenterImg{text-align: center; height: 100%;}
#centerLage_image{vertical-align: middle; width: 100%; text-align: center; display: inline; padding-right: 1px;}
/*#centerLage_image{vertical-align: middle; width: 100%; text-align: center; display: table-cell; padding-right: 1px;}*/
.popup_head .on{color: #fff !important; float: right; font-size: 14px; font-weight: bold; margin: 13px 25px 0 0; text-decoration: none; text-transform: uppercase;}

/* sorting */
#sortbox, #sortbox_album_images, #sortbox_files {list-style-type: none; margin: 0;  padding: 0;}
#sortbox li, #sortbox_album_images li, #sortbox_files li {float: left; height: 175px; margin: 0 0 8px 8px; padding: 1px; width: 160px;}
#sortbox li img, #sortbox_album_images li img, #sortbox_files li img {margin: 0;}
.album_name {float: left; font-size: 11px; height: 13px; line-height: 15px; overflow: hidden; width: 160px;}
.sort_area {font-size: 12px; color: #000;}
.popup_bottom_wide { background: none repeat scroll 0 0 #2e2e2e; border-top: 1px solid #a3a3a3; padding: 8px 15px;}
/*
.bottomside {background: none repeat scroll 0 0 #151515; border-top: 1px solid #414141; float: left; height: 188px; position: relative; width: 188px;}
*/
.bottomside{float: left}
/*
.buttomsideimage {border: 1px solid #333; left: 13px; position: absolute; top: 13px;}
*/

/* video page css */

.pl tr td {}
.pl tr.head td {background:#333;}
.pl tr.ruled td {background:#393939;}
 
.pl {border-collapse:collapse; margin:0; padding:0; width:100%; background:#414141;}
.pl td {color:#999; padding:3px 0 3px 5px; font-size:11px;}
.pl_top {background:#333; border:#414141 1px solid;}
.pl_cont, .pl_conton {border:#333 1px solid;}
.pl_cont1 {width:1%;border:#333 1px solid;}
.pl_top a, .pl_top a:link, .pl_top a:visited {color:#717171; text-transform:uppercase;}
.pl_top a:hover, .pl_top a:focus {color:#fff; text-transform:uppercase;}
.order_not {background:url(../images/sort_not.gif) no-repeat 100% 5px; padding:0 15px 0 0;}
.sort-desc {background:url(../images/sort_d.gif) no-repeat 100% 5px; padding:0 15px 0 0;}
.sort-asc {background:url(../images/sort_a.gif) no-repeat 100% 5px; padding:0 15px 0 0;}
.pl_cont a, .pl_cont a:link, .pl_cont a:visited {color:#ccc;}
.pl_cont a:hover, .pl_cont a:focus, .pl_conton a:hover, .pl_conton a:focus, .pl_conton a, .pl_conton a:link, .pl_conton a:visited {color:#fff;}
.pl_download, .pl_download:link, .pl_download:visited {background:url(../images/pl_download.gif) no-repeat 0 0; width:11px; height:13px; display:block; margin:0; padding:0;}
.pl_download:hover, .pl_download:focus {background:url(../images/pl_download_on.gif) no-repeat 0 0; width:11px; height:13px; display:block; margin:0; padding:0;}
.contentrow:hover{background: none repeat scroll 0 0 #393939}
.contentrow-selected{background: none repeat scroll 0 0 #393939 !important}
.showCommentsVideo{display: none}
.radio_thumbnailtype{width:auto !important}
.content .main-content{padding-top: 0px !important; padding-right: 0 !important; padding-left: 0px !important }