/* Scrollbar SIDENAVI vertically */
div#scrollbar {display:block; /* initially display:none; to hide from incapable */}
div#dragBar {background-color:#CCC; position:absolute; left:1px; top:1px; width:9px; height:20px;}
div#up {display:none;}  
div#down {display:none;}
div#scrollbar, div#track, div#dragBar, div#up, div#down {-moz-user-select: none; -khtml-user-select: none;}
div#scrollbar img {display:block;}
div#wn1 {position:relative; overflow:hidden;}
div#scrollbar {position:absolute; top: 0px; right:0px ;width:11px; font-size:1px;}
div#track {background-image:url(/images/verticalscrollbg.gif); background-repeat:repeat-y; position:absolute; left:0px; top:0px; width:11px; }

/* Scrollbar COMMENT vertically*/
div#scrollbar2 {display:block; /* initially display:none; to hide from incapable */}
div#dragBar2 {background-color:#CCC; position:absolute; left:1px; top:1px; width:9px; height:20px;}
div#up2 {display:none;}  
div#down2 {display:none;}
div#scrollbar2, div#track2, div#dragBar2, div#up2, div#down2 {-moz-user-select: none; -khtml-user-select: none;}
div#scrollbar2 img {display:block;}
div#wn2 {position:relative; height:190px; overflow:hidden;}
div#scrollbar2 {position:absolute; top:0px; right:0px; width:11px; height:190px; font-size:1px;}
div#track2 {background-image:url(/images/verticalscrollbg.gif); background-repeat:repeat-y; position:absolute; left:0; top:0; width:11px; height:190px; }

  
/* Scrollbar BOTTOM vertically*/

div#scrollbar3 {display:block; /* initially display:none; to hide from incapable */}
div#dragBar3 {background-color:#CCC; position:absolute; left:1px; top:1px; width:9px; height:20px;}
div#up3 {display:none;}  
div#down3 {display:none;}
div#scrollbar3, div#track3, div#dragBar3, div#up3, div#down3 {-moz-user-select: none; -khtml-user-select: none;}
div#scrollbar3 img {display:block;}
div#wn3 {position:relative; height:190px; overflow:hidden;}
div#scrollbar3 {position:relative; width:11px; height:190px; font-size:1px;}
div#track3 {background-image:url(/images/verticalscrollbg.gif); background-repeat:repeat-y; position:absolute; left:0; top:0; width:11px; height:190px; }

/* Scrollbar BOTTOM horizontally */

div#scrollbar4 {display:none;}
div#wn4	{position:relative; height:179px; overflow:hidden;}
div#scrollbar4 { position:relative; width:100%; height:11px; display:block; font-size:1px;}
div#track4 { position:absolute; left:0px; top:0; width:100%; height:11px; background-image:url(/images/horizontalscrollbg.gif); background-repeat:repeat-x;}
div#dragBar4 { position:absolute; left:1px; top:1px; width:100%; height:9px; background-color:#CCC; }  
div#left4 { position:absolute; left:0; top:0; }  
div#right4 { position:absolute; right:0; top:0; }
div#scrollbar4, div#track4, div#dragBar4, div#left4, div#right4 {-moz-user-select: none;-khtml-user-select: none;}
div#scrollbar4 img {display:block;}

/* Scrollbar home screen*/

div#scrollbar5 {display:block; /* initially display:none; to hide from incapable */}
div#dragBar5 {background-color:#CCC; position:absolute; left:1px; top:1px; width:9px; height:20px;}
div#up5 {display:none;}  
div#down5 {display:none;}
div#scrollbar5, div#track5, div#dragBar5, div#up5, div#down5 {-moz-user-select: none; -khtml-user-select: none;}
div#scrollbar5 img {display:block;}
div#wn5 {position:relative; height:300px; overflow:hidden;}
div#scrollbar5 {position:absolute; width:11px; height:300px;; font-size:1px;top: 0px; right:0px ;}
div#track5 {background-image:url(/images/verticalscrollbg.gif); background-repeat:repeat-y; position:absolute; left:0; top:0; width:11px; height:300px; }

/* Scrollbar BOTTOM horizontally homescreen other projects*/

div#scrollbar6 {display:none;}
div#wn6	{position:relative; height:211px; overflow:hidden;}
div#scrollbar6 { position:relative; width:100%; height:11px; display:block; font-size:1px;}
div#track6 { position:absolute; left:0px; top:0; width:100%; height:11px; background-image:url(/images/horizontalscrollbg.gif); background-repeat:repeat-x;}
div#dragBar6 { position:absolute; left:1px; top:1px; width:100%; height:9px; background-color:#CCC; }  
div#left6 { position:absolute; left:0; top:0; }  
div#right6 { position:absolute; right:0; top:0; }
div#scrollbar6, div#track6, div#dragBar6, div#left6, div#right6 {-moz-user-select: none;-khtml-user-select: none;}
div#scrollbar6 img {display:block;}

/* Scrollbar BOTTOM horizontally homescreen projects I own*/

div#scrollbar7 {display:none;}
div#wn7	{position:relative; height:197px; overflow:hidden;}
div#scrollbar7 { position:relative; width:100%; height:11px; display:block; font-size:1px;}
div#track7 { position:absolute; left:0px; top:0; width:100%; height:11px; background-image:url(/images/horizontalscrollbg.gif); background-repeat:repeat-x;}
div#dragBar7 { position:absolute; left:1px; top:1px; width:100%; height:9px; background-color:#CCC; }  
div#left7 { position:absolute; left:0; top:0; }  
div#right7 { position:absolute; right:0; top:0; }
div#scrollbar7, div#track7, div#dragBar7, div#left7, div#right7 {-moz-user-select: none;-khtml-user-select: none;}
div#scrollbar7 img {display:block;}

/* Scrollbar homescreen userlist vertically*/

div#scrollbar8 {display:block; /* initially display:none; to hide from incapable */}
div#dragBar8 {background-color:#CCC; position:absolute; left:1px; top:1px; width:9px; height:20px;}
div#up8 {display:none;}  
div#down8 {display:none;}
div#scrollbar8, div#track8, div#dragBar8, div#up8, div#down8 {-moz-user-select: none; -khtml-user-select: none;}
div#scrollbar8 img {display:block;}
div#wn8 {position:relative; height:190px; overflow:hidden;}
div#scrollbar8 {position:relative; width:11px; height:190px; font-size:1px;}
div#track8 {background-image:url(/images/verticalscrollbg.gif); background-repeat:repeat-y; position:absolute; left:0; top:0; width:11px; height:190px; }

/* Scrollbar homescreen 'blog'list vertically*/

div#scrollbar9 {display:block; /* initially display:none; to hide from incapable */}
div#dragBar9 {background-color:#CCC; position:absolute; left:1px; top:1px; width:9px; height:20px;}
div#up9 {display:none;}  
div#down9 {display:none;}
div#scrollbar9, div#track9, div#dragBar9, div#up9, div#down9 {-moz-user-select: none; -khtml-user-select: none;}
div#scrollbar9 img {display:block;}
div#wn9 {position:relative; height:190px; overflow:hidden;}
div#scrollbar9 {position:relative; width:11px; height:190px; font-size:1px;}
div#track9 {background-image:url(/images/verticalscrollbg.gif); background-repeat:repeat-y; position:absolute; left:0; top:0; width:11px; height:190px; }

/* Scrollbar fullscreen*/

div#scrollbar10 {display:none;}
div#wn10	{position:relative; height:120px; overflow:hidden;}
div#scrollbar10 { position:relative; width:100%; height:11px; display:block; font-size:1px;}
div#track10 { position:absolute; left:0px; top:0; width:100%; height:11px; background-image:url(/images/horizontalscrollbg.gif); background-repeat:repeat-x;}
div#dragBar10 { position:absolute; left:1px; top:1px; width:100%; height:9px; background-color:#CCC; }  
div#left10 { position:absolute; left:0; top:0; }  
div#right10 { position:absolute; right:0; top:0; }
div#scrollbar10, div#track10, div#dragBar10, div#left10, div#right10 {-moz-user-select: none;-khtml-user-select: none;}
div#scrollbar10 img {display:block;}

/* Scrollbar homescreen 'tag'list vertically*/

div#scrollbar11 {display:block; /* initially display:none; to hide from incapable */}
div#dragBar11 {background-color:#CCC; position:absolute; left:1px; top:1px; width:9px; height:20px;}
div#up11 {display:none;}  
div#down11 {display:none;}
div#scrollbar11, div#track11, div#dragBar11, div#up11, div#down11 {-moz-user-select: none; -khtml-user-select: none;}
div#scrollbar11 img {display:block;}
div#wn11 {position:relative; height:190px; overflow:hidden;}
div#scrollbar11 {position:relative; width:11px; height:190px; font-size:1px;}
div#track11 {background-image:url(/images/verticalscrollbg.gif); background-repeat:repeat-y; position:absolute; left:0; top:0; width:11px; height:190px; }
