* {margin:0; padding:0;}
body, html {overflow: hidden; height:100%;}
body {background:#000; color:#444; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
a:link, a:visited {text-decoration:none; color:#888;}
a:hover, a:focus {text-decoration:none; color:#DDD;}

input {background:#333; border:none; color:#CCC;}
textarea {background:#333; border:none; color:#CCC; padding:0 0 0 2px;}

html, body, div, span, ul, img, h1, h2, h3, h4, h5{margin:0; padding:0; border:0;}
html{min-height:100.5%;}
ul{list-style:none;}
.invisible{display:none;}
.clear{clear:both; font-size:0;	line-height:0px;}
.floatclear{clear:both;}
.floatright{float:right;}
.floatleft{float:left;}
.nooverflow{overflow:hidden;white-space:nowrap;}

.divbar {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#DDD; padding: 0px; height:19px; background-image:url(/images/graybar.gif);background-repeat:no-repeat; overflow:hidden; position: relative; top:0px; left:0px;}
.divbarbottom {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#DDD; padding: 0px; height:19px; width:100%; background-image:url(/images/graybar.gif);background-repeat:no-repeat; overflow:hidden; position: relative; bottom:0px; left:0px;}
#divbarid, #divbarbottomid {}
/*div forms*/
#cover {display:none; opacity:.70;filter: alpha(opacity=70); -moz-opacity:0.7; background:#000; height:2000px; left:0px; position:absolute; top:0px; width:2000px; z-index:10;}
#formdiv {display:none; background:#000; left:0; padding:0; position:absolute; top:0; width:640px; z-index:20;}
.infotextarea {font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:5px 0 5px 0;}
td.formerrormsg {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#EF0808}


/*popup forms*/

.popup{border:#999999 1px solid; width:640px; background:#000; color:#fff; z-index: 5; display: none}
.popup_large{border:#999999 1px solid; background:#000; color:#fff;}
.popup_head{height:47px; background:url("/images/popup_head.gif") no-repeat 0 0;}
.popup_head span{color:#fff; font-size:14px; text-decoration:none; font-weight:bold; text-transform:uppercase; float:right; margin:13px 25px 0 0;}
.popup_head a{color:#fff; font-size:14px; text-decoration:none; font-weight:bold; text-transform:uppercase; float:right; margin:13px 25px 0 0;}
.popup_head a.off, .popup_head a.off:link, .popup_head a.off:visited{color:#666;}
.popup_head a.off:hover, .popup_head a.off:focus{color:#fff;}
.popup_top {background: url("/images/popup_gradien.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0); border-top: 1px solid #e3e2dc; padding: 7px 60px 7px 7px;}
.popup_top img{border:#4D4D4D 1px solid; padding:2px; float:left;}
.popup_top .run{font-size:12px; line-height:25px; margin:0 0 0 300px;}
.popup_top table{border-collapse: collapse; width: 280px; float:left;}
.popup_top td.leftcolumn {border:#4D4D4D 1px solid; padding: 3px 0 3px 5px;}
.popup_top td.rightcolumn {border:#4D4D4D 1px solid; padding: 3px; text-align:center;}
.popup_forms_full{font-size:12px; border-top:#949494 1px solid; background:#666; padding:25px 15px 25px 8px;}
*+ html .popup_forms_full{padding:0px 15px 5px 8px;}
.popup_forms{font-size:12px; border-top:#949494 1px solid; background:#666; padding:25px 15px 25px 308px;}
*+ html .popup_forms{padding:0px 15px 5px 308px;}
.popup_sortarea{font-size:12px; border-top:#949494 1px solid; background:#666; padding:25px 15px 25px 15px;}
*+ html .popup_sortarea{padding:0px 15px 5px 15px;}
.popup_forms input{height:17px; border:0; margin:4px 0 12px 0; padding:2px 0 0 0; width:308px; background:#FFF;color:#000;}
.popup_forms input.checkbox{height:14px;width:14px;margin:4px 8px 12px 2px;}
.popup_forms input.checkbox2{height:14px;width:14px;margin:0 5px 0 5px;}
.popup_forms input.smallinput{height:17px; border:0; margin:4px 8px 12px 0; width:150px; background:#FFF;color:#000;}
.popup_forms textarea{background:#FFF;color:#000; width:306px;font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.popup_bottom{border-top:#A3A3A3 1px solid; background:#2E2E2E; padding:8px 15px 8px 300px;}
.popup_bottom_wide{border-top:#A3A3A3 1px solid; background:#2E2E2E; padding:8px 15px;}
a.but_red{padding:0 8px; text-decoration:none; font-size:11px; font-weight:bold; color:#EF0808; text-transform:uppercase;}
a.but_green{padding:0 8px; text-decoration:none; font-size:11px; font-weight:bold; color:#B1D400; text-transform:uppercase;}

#sortbox {list-style-type:none;margin:0;padding:0;}
#sortbox li {margin:0px 0px 8px 8px;padding:1px;float:left;width:160px;height:175px;background-color:#666666;}
#sortbox li img {margin: 0px;}
.popup_sortunderpiclabel {line-height: 12px; float: left; font-size:11px; height:13px; width:160px; overflow:hidden;}
	



/* login head */
div.head{height:75px; background:#000 url("/images/head_l.jpg") no-repeat 0 0; border-bottom:#222 1px solid;overflow:hidden; width:100%;position:absolute; top:0; left:0; z-index:5;}
.login{font-weight:bold; color:#888; font-size:11px; float:right; border-left:#222 1px solid; padding:5px 6px 0px 11px; width:272px;height:75px;}
.login .loginrow{clear:both; float:left; margin:1px 0 4px 0; padding:0 5px 0 0; width:90px; text-align:right;}
.login input{width:170px; margin:0px 0 5px 0;}
.logininfo{float:right; color:#fff; margin:10px;}

/* intro */

#distance_intro {background-color:#000; float:left; height:50%; margin-bottom:-320px; width:1px;}
#container_intro {background:#000 url("/images/gradien1.png") repeat-x 0 0; clear:left; height:640px; margin:0 auto; position:relative; text-align:left; z-index:5;}
#container_intro .center {margin:0 auto; padding:10px 150px 0 0; width:340px;}

#intro_body{position:relative; background:url("/images/gradien1.png") repeat-x 0 0; color:#D7C9C1; font-size:11px; height:1000px;}
.intro_left {position:absolute; left:10px; top: 252px; width: 200px; color:#fff;}
.intro_left_text {width:100px;}
.intro_left img{margin:0px 0 20px 0;}
.intro_center{position:absolute; left:42%; margin:11px 0 0 -203px;}
.intro_center .hc{margin:0 0 0 8px;}
.intro_right{position:absolute; right:0px; top: -5px; width: 300px; float:right; margin:15px 0 0 0;}
.intro_thumb{float:left; margin:0 10px 10px 10px; cursor:pointer; color:#888}
.intro_right .link{float:right; margin:0 20px 0 0;}
.intro_bottom{clear:both; position:absolute; bottom:0; left:0; width:100%; z-index:6;}

.hc{font-weight:bold; color:#C2E20D;}
.hw{font-weight:bold; color:#fff;}
.hg{font-weight:bold; color:#888;}
h1{font-weight:normal; color:#C2E20D; font-size:18px; text-transform:uppercase; margin:0 0 15px 10px;}
.largetext{font-size:13px; color:#fff; margin:0 35px 0 10px;}

.table_basic{border-collapse:collapse; margin:0; padding:0; width:100%; font-size:12px; font-weight:bold; color:#fff;}
.table_basic tr .firstcol{text-align:left; color:#958B86; font-size:12px; width:10%}
.table_basic tr th, .table_basic tr td{background:#000; border:#514C48 1px solid; height:25px; text-align:center; padding:2px 10px;}
.table_basic tr th{background:#1C1A18; font-size:15px; width:18%;}
.table_basic a{text-decoration:underline;color:#fff;}


/*main site*/
.graytext {color:#B5B5B5;}
.gray {background:#4D4D4D; color:#B5B5B5;}
.leftmenu{padding:10px 300px 15px 20px;}
.leftmenu .pic img{margin:1px 1px 1px 1px;}
.addlink:link, .addlink:visited {color:#B5B5B5;font-weight:bold;}
.editlink:link, .editlink:visited {color:#B5B5B5;font-weight:bold;}
.linkpositioner {position: absolute; left: 187px;}
.projects_container {margin: 0 0 0 10px; position: relative;}
.project_container_off {padding:1px; margin:1px; width:162px;}
.project_container_on {padding:1px; margin:1px; background-color:#645d59; width:162px;}
.borderright {border-right: 10px solid #4D4D4D;}
.tdlink {display:block;}
.underpic_label {font-size:11px; float:left;clear:left; text-align:right; width:30px; margin:0 5px 0 0; height:15px;overflow:hidden;}
.underpic_value {font-size:11px; float:left;color:#FFF; height:15px;overflow:hidden; width:125px; }
.rightmenu{width:289px; height:100%; position:absolute; right:0; top:33px; padding:10px 0 0 0;}
.rightmenu .items{clear:both; position: relative;}
.rightmenu .items .item{background:#4a4441; border:#717171 1px solid; margin:0 0 10px 0; font-size:11px; width:275px;position:relative; }
.rightmenu .items .item img{border-right:#717171 1px solid; margin:0 12px 0 0;}
.rightmenu .items .item div.floatleft{padding:3px 0; line-height:18px; position:relative; width:157px;}
.rightmenu .items .item div .seen_no, .rightmenu .items .item div .seen_yes{position:absolute; right:0; bottom:3px; padding:0 25px 0 0; width:20px;}
.rightmenu .items .item div .seen_no{background:url(/images/seen_no.gif) no-repeat 100% 50%;}
.rightmenu .items .item div .seen_yes{background:url(/images/seen_yes.gif) no-repeat 100% 50%;}

.but_down, .but_right{display:block; clear:both; font-weight:bold; padding:0 0 0 12px; margin:0 0 5px 0;}
.but_down{background:url(/images/arrow_down.gif) no-repeat 0 50%;}
.but_right{background:url(/images/arrow_right.gif) no-repeat 0 50%;}
.but_right:link, .but_right:visited{color:#B5B5B5;}
.but_down:link, .but_down:visited, .but_down:hover, .but_down:focus, .but_right:hover, .but_right:focus{color:#fff;}
.hr_grey{border:0; border-bottom:#7A7A7A 1px solid; color:#B5B5B5; margin:8px 0 8px 10px; clear:both;}
*+ html .hr_grey{margin:0px 0 5px 0;}
.input_search{float:left; color:#fff; font-size:12px; background:#a29791; height:16px; width:216px; margin:0; padding:1px 0 1px 2px; font-family:Arial, Helvetica, sans-serif;}
.input_filter {background:#A29791; border:0px; color:#fff; float:left; font-weight:bold; font-size:12px; height:16px; margin:5px 6px 10px 0; width:135px;}
*+ html .input_filter {height: 19px;}
.but_search, .but_search:link, .but_search:visited{float:left; padding:2px 9px; background:#333; color:#fff; font-weight:bold; font-size:11px; margin:0; height:14px;}

/*main table & inner div's*/
table#tableLayout {}

td#top {height: 33px; background-color: #000;}
td#content {}
td#sidenavi {width: 289px;}
td#bottom {height: 190px; width:100%;}
td#comment {height: 190px; width: 289px;}

div#top2 {overflow: hidden; background-image:url(/images/header_bg.png);background-repeat:no-repeat; white-space:nowrap; position:relative; height:33px;}
div#content2 {overflow: hidden; position:relative;}
div#sidenavi2 {overflow: hidden; position:relative;}
div#bottom2 { width:100%; overflow: hidden; height: 190px;}
div#comment2 {overflow: hidden; height: 190px; width: 289px; position:relative; border-left: 1px solid #222;}

/*login*/
td.login {padding:2px; }

/*topnav*/
.topnav {position:absolute; top:10px; left:230px;white-space:nowrap;}
.topnav a, .topnav span{text-transform:uppercase; font-size:12px;}
.topnav a, .topnav a:link, .topnav a:visited{color:#999; text-decoration:none; margin:0 33px 0 0;}
.topnav a:hover, .topnav a:focus{color:#fff; text-decoration:none; margin:0 33px 0 0;}
.topnav a.on, .topnav a.on:link, .topnav a.on:visited, .topnav a.on:hover, .topnav a.on:focus{color:#fff; text-decoration:none; margin:0 33px 0 0;}
.topnav .dis{color:#444; margin:0 33px 0 0;}
.topform {position:absolute; top:0px; right:17px; border-left: 1px solid #222; height: 33px; color:#fff; white-space:nowrap; background-color:#000; width:272px;}
.top_id_input {padding:0 0 0 2px;margin:7px 0 0 0;width:160px;height:19px;}
/*content*/
.content {background:#444; color:#000;}

/*sidenavi*/

.sidenavi {background:#222; color:#000; margin:0; padding:0 0px 0 0; }

.divcontent {position:relative; border-left: 1px solid #222; width:289px;}
.albumcontainer1 {background-color:#151515; width:277px; height:98px; position:relative; border-bottom: 1px solid #222;}
.albumcontainer1ruled {background-color:#252525; width:277px; height:98px; position:relative; border-bottom: 1px solid #222;}
.albumcontainer1on {background-color:#151515; width:277px; height:98px; position:relative; border-bottom: 1px solid #222;}
.albumcontainer1onruled {background-color:#252525; width:277px; height:98px; position:relative; border-bottom: 1px solid #222;}
.albumcontainer2 {background-color:#000; width:277px; height:98px; position:relative; border-bottom: 1px solid #222;}
.albumcontainer2ruled {background-color:#111; width:277px; height:98px; position:relative; border-bottom: 1px solid #222;}
.albumcontainer2on {background-color:#000; width:277px; height:98px; position:relative; border-bottom: 1px solid #222;}
.albumcontainer2onruled {background-color:#111; width:277px; height:98px; position:relative; border-bottom: 1px solid #222;}
.ac1 {width:122px; position:absolute; left:0px; top:0px;}
.ac1num {color:#666; font-size:18px; padding:0 2px 2px 4px;}
.ac1name {color:#FFF; font-weight:bold; padding:0 4px 0 4px; margin:0 0 5px 0; overflow:hidden; height:14px; }
.ac1version {font-weight:bold; color:#fff; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.ac1version a.linkoff {padding:0 5px 0 3px; }
.ac1version a.linkon {color:#FFF;padding:0 5px 0 3px; }
.ac2 {width:55px; position:absolute; left:122px; top:0px; font-size:14px; color:#333; font-weight:bold; line-height:19px; padding:3px 3px 3px 0px;}
.ac3 {width:100px; position:absolute; left:180px; top:0px; }
a.linkoff {}
a.linkon {color:#FFF;}


/*bottom*/

.bottom {background:#222; color:#000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; padding:0;}
td.imagecontainer {border-left: 1px solid #666; width:160px; height:177px;}
td.imagecontaineron {border-left: 1px solid #666; width:160px; height:177px;}
.addbt,.addbt:link,.addbt:visited{background:url(/images/addnotransp.gif) no-repeat 0 0; width:50px; height:19px; display:block; float:left;}
.addbt:hover,.addbt:focus{background:url(/images/addovernotransp.gif) no-repeat 0 0;}
.editbt, .editbt:link, .editbt:visited{background:url(/images/editnotransp.gif) no-repeat 0 0; width:52px; height:19px; display:block; float:left;}
.editbt:hover, .editbt:focus{background:url(/images/editovernotransp.gif) no-repeat 0 0;}
.sortbt, .sortbt:link, .sortbt:visited{background:url(/images/sortnotransp.gif) no-repeat 0 0; width:54px; height:19px; display:block; float:left;}
.sortbt:hover, .sortbt:focus{background:url(/images/sortovernotransp.gif) no-repeat 0 0;}
.bottomside {width:188px; height: 188px; border-top:1px solid #414141; float:left; background:#151515; position:relative;}
#bottom3 {float:left;}
.buttomsideimage {border:1px solid #333; position:absolute; top:13px; left:13px;}

/* playlist */

.pl tr td {}
.pl tr.head td {background:#333;}
.pl tr.ruled td {background:#393939;}
 
.pl {border-collapse:collapse; margin:0; padding:0; width:100%; background:#414141;}
.pl td {color:#999; padding:3px 0 3px 5px; font-size:11px;}
.pl_top {background:#333; border:#414141 1px solid;}
.pl_cont, .pl_conton {border:#333 1px solid;}
.pl_cont1 {width:1%;border:#333 1px solid;}
.pl_top a, .pl_top a:link, .pl_top a:visited {color:#717171; text-transform:uppercase;}
.pl_top a:hover, .pl_top a:focus {color:#fff; text-transform:uppercase;}
.order_not {background:url(/images/sort_not.gif) no-repeat 100% 5px; padding:0 15px 0 0;}
.order_d {background:url(/images/sort_d.gif) no-repeat 100% 5px; padding:0 15px 0 0;}
.order_a {background:url(/images/sort_a.gif) no-repeat 100% 5px; padding:0 15px 0 0;}
.pl_cont a, .pl_cont a:link, .pl_cont a:visited {color:#ccc;}
.pl_cont a:hover, .pl_cont a:focus, .pl_conton a:hover, .pl_conton a:focus, .pl_conton a, .pl_conton a:link, .pl_conton a:visited {color:#fff;}
.pl_download, .pl_download:link, .pl_download:visited {background:url(/images/pl_download.gif) no-repeat 0 0; width:11px; height:13px; display:block; margin:0; padding:0;}
.pl_download:hover, .pl_download:focus {background:url(/images/pl_download_on.gif) no-repeat 0 0; width:11px; height:13px; display:block; margin:0; padding:0;}

/*userlist on homescreen*/

.ul tr.ruled td,.ul tr.ulsruled td {background:#4a453f;}
.ul tr.uls td {background:#645d59;}
.ul {border-collapse:collapse; margin:0; padding:0; width:100%;}
.ul td {color:#B5B5B5; padding:3px 3px 0px 2px; font-size:11px; vertical-align:top;}
.ul_cont1 {width:1%;}
.ul_top a, .ul_top a:link, .ul_top a:visited, .ul_none {color:#B5B5B5; text-transform:uppercase;}
.ul_first  {width:100px;}
.ul_third  {width:100px;}
.ul_top a:hover, .ul_top a:focus {color:#fff; text-transform:uppercase;}
.order_not {background:url(/images/sort_not.gif) no-repeat 100% 5px; padding:0 15px 0 0;}
.order_d {background:url(/images/sort_d.gif) no-repeat 100% 5px; padding:0 15px 0 0;}
.order_a {background:url(/images/sort_a.gif) no-repeat 100% 5px; padding:0 15px 0 0;}
.ul_cont a, .ul_cont a:link, .ul_cont a:visited {color:#fff;}
.ul_cont a:hover, .ul_cont a:focus, .ul_conton a:hover, .ul_conton a:focus, .ul_conton a, .ul_conton a:link, .ul_conton a:visited {color:#fff;}
.ul_download, .ul_download:link, .ul_download:visited {background:url(/images/pl_download.gif) no-repeat 0 0; width:11px; height:13px; display:block; margin:0; padding:0;}
.ul_download:hover, .ul_download:focus {background:url(/images/pl_download_on.gif) no-repeat 0 0; width:11px; height:13px; display:block; margin:0; padding:0;}

/*bloglist on homescreen*/

.bl_msg {border-bottom:1px solid #7A7A7A;}

/*comments*/

td.commenttitle {font-size:10px; color:#FFF;} 
td.commentnormal {border-top-width:1px; border-top-style:solid; border-top-color:#222;}
.commentmessage {color:#999; font-size:10px;}
.commentnames {font-size:10px; color:#BAE800;} 


#flashimagescaler {position: relative; bottom: 0px; left: 0px; height: 100%; width:  100%; z-index:0;}
#flashvideoplayer {position: relative; bottom: -1px; left: 0px;	height: 100%; width:  100%;}
#flashvideoplayer2 {position: relative; bottom: -1px; left: 0px;	height: 100%; width:  100%;}



/* files */

td.files_icon {background:#303030;}
td.files_nav {background:#3F3F3F; border-left:1px solid #000;}
td.files_reference {background:#303030; color:#454545; font-size:14px; font-weight:bold; text-align:right; padding: 0 5px 0px 0; }

.files_left_1 {position:absolute; top:26px; left:0px; width:70px; font-size:14px; font-weight:bold; text-align:right;}
.files_left_2 {position:absolute; top:44px; left:0px; width:70px; font-size:14px; font-weight:bold; text-align:right;}
.files_left_3 {position:absolute; top:62px; left:0px; width:70px; font-size:14px; font-weight:bold; text-align:right;}
.files_left_4 {position:absolute; top:80px; left:0px; width:70px; font-size:14px; font-weight:bold; text-align:right;}
.files_left_5 {position:absolute; top:110px; left:0px; width:70px; font-size:14px; font-weight:bold; text-align:right;}

.files_right_1 {white-space:nowrap;position:absolute; top:22px; left:0px; width:240px; color:#AAA; font-size:18px; overflow:hidden; padding: 0 0px 0px 5px;}
.files_right_2 {white-space:nowrap;position:absolute; top:45px; left:0px; width:240px; color:#FFF; font-weight:bold; overflow:hidden; padding: 0 0px 0px 5px;}
.files_right_3 {white-space:nowrap;position:absolute; top:63px; left:0px; width:240px; color:#FFF; font-weight:bold; overflow:hidden; padding: 0 0px 0px 5px;}
.files_right_4 {white-space:nowrap;position:absolute; top:80px; left:0px;  height:18px; width:240px; color:#B1D400; font-weight:bold; overflow:hidden; padding: 0 0px 0px 5px; border-bottom:1px solid #000;}
.files_right_5 {position:absolute; top:110px; left:0px; width:230px; color:#FFF; padding: 0 5px 0px 5px;}

/* upload */
#fsUploadProgress {background: #444444; margin-top: 5px; width:308px; padding:5px;}
#fsUploadProgress h3 {margin: 0; margin-top: 5px;}
.progressContainer {padding-left: 30px;background: url(/images/document-new.png) no-repeat;margin: 8px 0; overflow:hidden;}
.progressName {margin-bottom: 3px;}
.progressBarStatus {font-style: italic;	font-size: 12px;}
.progressBarInProgress {height: 4px;background: green;border: 1px solid #ffffff;width: 0;}
.progressCancel {background-image:url(/images/emblem-unreadable.png);	background-repeat:no-repeat;display:block;float:right;font-size:0;height:16px;width:16px;}
#queue-status {background-color: #444444;padding: 5px; width:308px;}
.controls {background-color: #444444;padding: 5px; width:308px;}
.popup_forms input.controlbuttons {width:150px; height:19px; padding: 0 0 3px 0; margin: 0 2px 0 0px; background:#2e2e2e; color:#fff;}
#spanButtonPlaceHolderwrapper {background-color: #2e2e2e;width:150px;}
.imagecontaineron div:hover a{ color: #fff !important;}
.popup_top_project {
  background: url("/images/popup_gradien.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  border-top: 1px solid #e3e2dc;
  padding: 7px 60px 7px 7px;
}